<div class="portfolioPage">
	<div class="container">
		<div class="col-md-12 disclaimer">
			These projects were developed by me, from Wireframe to final product.  These projects are not hosted online because of the current industry that I work in. These templates are developed and hosted only on a git repository for use by InfoSlips platform.
		</div>
		<div class="col-md-4" ng-repeat="work in portCtrl.model.portfolioLinks">
			<div class="portfolioBlock">
				<div class="previewThumb"><div ng-click="mainCtrl.showiframe(work.url,work.desc)" target="_blank">
					<img ng-src="{{work.thumb}}">
				</div></div>
				<div class="description">{{work.desc}}</div>
			</div>
		</div>
	</div>
</div>