.first-section{
	background-image: url("bg.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 70px);
    background-position: top;
    /*background-color: $greyBlue;*/
    text-align: center;
    .mainTextHolder{
    	h1{
    		color:#fff;
			margin-top:20px;
			margin-bottom: 20px;
			font-size: 70px;
    	}
        h3{
            color: $grey;
        }
    }
    .resumeBlock{
        background-color: $greyBlue;
        width: 70%;
        padding: 20px;
        margin: 40px auto 0 auto;
        color:#fff;
    }
}

.second-section{
    min-height: calc(100vh);
    padding-bottom: 100px;
    background-color: $greyBlue;
    .showOnMobile{
        display: none;
    }
    .experiences{
        margin-top: 50px;
        em,h3{
            color:#fff;
        }
        h3{
            margin-bottom: 40px;
            text-align: center;
            font-size: 20px;
            margin-top: 10px;
        }
        h1{
            color: $grey;
            text-align: center;
            
            font-size: 70px;
        }

    }

}
.third-section{
     min-height: calc(100vh);
     background-color: $greyBlue;
     border-top: 2px solid $grey;
     .workExperiences{
        em,h3{
            color:#fff;
        }
        h3{
            margin-bottom: 40px;
            text-align: center;
            font-size: 20px;
            margin-top: 10px;
        }
        h1{
            color: $grey;
            text-align: center;
            
            font-size: 70px;
        }
        h4{
           color: $grey; 
           font-size: 30px;
        }
        h5{
            font-size: 16px;
        }

        .timeline{
            img{
                margin-top: 10px;
            }
        }
         .timelineLeft{
            width: 100%;
            /*background-color: $greyAlpha;*/
            color: #fff;
            p{
               margin:0;
            }
            margin-top: 290px;
            text-align:right;
            .paragraph{
                text-align: justify;
            }
        }
         .timelineRight{

              width: 100%;
            /*background-color: $greyAlpha;*/
            color: #fff;
            p{
               margin:0;
            }

        }
        .paragraph{
            padding-top: 0px;
        }

     }
}

button.btn-primary{
    border-radius: 0;
    color: $green;
    background-color: $greyBlue;
    border-color: $blue;
    &:hover{
        
    }
}
.progress{
    background-color: transparent;
    border: none;
    box-shadow:none;
    border-radius: 0;
}
.progress-bar{
    background-color:$green;
    border-radius: 0;
    border: none;
}

.portfolioPage{
    background-image: url("portfolio_bg.png");
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 70px);
    background-position: top;
    .col-md-4{
        margin-top: 50px;
    }
    .portfolioBlock{
        cursor:pointer;
        min-height: 200px;
        width: 100%;
        background-color: $greyAlpha;
    }
    .previewThumb{
        img{
            margin:10px auto;
            width: 80%;
        }
        text-align: center
    }
    .description{
        text-align: center;
        padding-bottom: 10px;
    }
}

.iframe{
    border-left: 10px solid $greyBlue;
    border-right: 10px solid $greyBlue;
    height: calc(100vh - 70px);
}

.iframeContainer{
    height: calc(100vh - 70px);
    background-color: $greyBlue;
}

.socialMedia{
    a{
        float: right;
        margin-right: 10px;
    }
}