.fullWidthNav{
	background-color: $greyBlue;
	height: $navHeight;
}
#mainNavigation{
	background-color: transparent;
	border: none;
	height: $navHeight;
	margin:0;
	z-index: 100;
}
img.logo{	
		padding-top: 10px;
		height: 60px;
	
}
.navbar-collapse{
	height: $navHeight;
	ul,li,a{
		height: $navHeight;
	}
}
.viewOnGit{
	padding-top: 25px;
	a{
		color:#fff;
	}
}
.socialMedia{
	padding-right: 10px;
	padding-top: 10px;
}
.nav.navbar-nav{
	li{
		padding-left:20px;
		padding-right:20px;
			
		&:hover{
			
		}
		a{
			height: $navHeight;
			&.active{
			color:$greyBlue;
			 background-color:$grey;
			 -moz-transition: background-color 0.3s;
			 -webkit-transition: background-color 0.3s;
			 -o-transition: background-color 0.3s;
			 transition: background-color 0.3s;
			};
			&:hover{
	color:#fff;
	text-decoration: underline;
			}
			color:#fff;
			 -moz-transition: color .3s ease-in;
		  	 -webkit-transition: color .3s ease-in;
		  	 -o-transition: color .3s ease-in;
		 	 transition: color .3s ease-in;
		 	 padding-top:25px;
		 	  background-color:transparent;
		 	 -moz-transition: background-color .3s ease-in;
		  	 -webkit-transition: background-color .3s ease-in;
		  	 -o-transition: background-color .3s ease-in;
		 	 transition: background-color .3s ease-in;
		}
	}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	text-decoration: underline;
	color: #fff!important;
}
}

.navbar-default .navbar-toggle{
	height: 100%;
	margin-top: 0;
	margin-right: -20px;
	border:none;
	padding:0;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: $grey;
}
.navbar-toggle .icon-bar{
	height: 3px;
	width: 30px;
	margin-top: 5px!important;
	margin-right: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:transparent; 
}


